/* src/components/Footer.css */

.App-footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
  
.App-footer a {
    color: #61dafb;
    margin-left: 5px;
}
  
.App-footer p {
    margin: 5px 0;
}
  